<header class="border-b border-(--mawrid-border) bg-(--mawrid-header) backdrop-blur-lg">
  <div
    class="mx-auto flex h-19.5 w-[min(80rem,calc(100%-2rem))] items-center gap-7 max-[620px]:h-17 max-[620px]:w-[calc(100%-1.5rem)]"
  >
    <div class="mr-auto"><app-logo /></div>
    <app-navigation [showThemeToggle]="true" />
    <div class="min-[900.01px]:hidden"><app-cart-button /></div>
    <div class="min-[900.01px]:hidden"><app-theme-toggle /></div>
    <p-button
      class="min-[900.01px]:hidden"
      styleClass="text-(--mawrid-font-primary)!"
      [rounded]="true"
      [text]="true"
      [icon]="menuIcon"
      ariaLabel="Open navigation menu"
      (onClick)="mobileMenuOpen.set(true)"
    />
  </div>
</header>

<p-drawer
  styleClass="w-[min(20rem,100vw)]! bg-(--mawrid-page)! text-(--mawrid-font-primary)! [&_.p-drawer-header]:min-h-19.5 [&_.p-drawer-header]:border-b [&_.p-drawer-header]:border-(--mawrid-border) [&_.p-drawer-header]:bg-(--mawrid-page) [&_.p-drawer-header]:px-4.5 [&_.p-drawer-header]:py-3 [&_.p-drawer-content]:bg-(--mawrid-page) [&_.p-drawer-content]:p-0"
  position="left"
  appendTo="body"
  ariaCloseLabel="Close navigation menu"
  [closeButtonProps]="{
    styleClass:
      'size-10! border-transparent! bg-transparent! text-(--mawrid-primary)! dark:text-white!',
  }"
  [visible]="mobileMenuOpen()"
  (visibleChange)="mobileMenuOpen.set($event)"
>
  <ng-template #header><app-logo /></ng-template>
  <app-navigation [drawer]="true" (navigated)="closeMobileMenu()" />
</p-drawer>
